.popup  {
    display:block;
    width:300px;
    height: 200px;
    padding: 5px 20px 20px 10px;
    position: fixed;
    top:calc(50% - 100px);
    left:calc(50% - 150px);
    background: #ff00ff;
  }

  #details {
      background:#dcf646!important;
  }